---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import InfoSection from "../components/InfoSection.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero />
    <InfoSection />
  </main>
</Layout>
