<style>
  .container {
    background-color: orangered;
    transition: top 0.7s ease-in-out;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
  }
  .links {
    display: flex;
    align-items: center;
  }
  li a {
    color: #f4f1f8;
    padding: 1rem;
    font-size: 18px;
    font-weight: 400;
  }
  .logo {
    font-size: 32px;
    font-weight: 400;
    color: #f4f1f8;
    font-family: "Lobster", sans-serif;
  }
</style>

<div class="container" id="navbar">
  <nav>
    <ul>
      <div class="logo">Burgir</div>
      <div class="links">
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </div>
    </ul>
  </nav>
</div>

<script>
  let prevScrollpos = window.pageYOffset;
  window.onscroll = function () {
    let currentScrollPos = window.pageYOffset;
    const navbar = document.getElementById("navbar");
    if (prevScrollpos > currentScrollPos) {
      navbar.style.top = "0";
    } else {
      navbar.style.top = `-${navbar.offsetHeight}px`;
    }
    prevScrollpos = currentScrollPos;
  };
</script>
